node_modules
.next
next-env.d.ts
.env
.env.local
.env.production
.env.development

spotlite_unused
tsconfig.tsbuildinfo

# clerk configuration (can include secrets)
.clerk/

# local folders
src/tuning-core
src/sethares-dissonance
